body{
    height: 100vh;
    display: grid;
    place-items: center;
    
}
.main{
    width: 400px;
    height: 300px;
    box-shadow: 0px 0px 30px 1px rgba(0,0,0,3);
    border: 1px solid black;
}
.min div{
    width: 100px;
    height: 100px;
}
.orange{
    width: 400px;
    height: 100px;
    background: orange;
}
.white{
    width: 400px;
    height: 100px;

}
.green{
    width: 400px;
    height: 100px;
    background: green;
}
